[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
toml = ">=0.10.1"
pyyaml = ">=5.3.1"
pytest = ">=6.1.1"
pytest-cov = ">=2.10.1"
hypothesis = ">=5.18.0"
pylint = ">=2.6.0"
mypy = ">=0.790"
ipython = ">=7.18.1"
sphinx = ">=3.2.1"
pydata-sphinx-theme = ">=0.4.1"
sphinx-autobuild = ">=2020.9.1"
twine = ">=3.2.0"

[packages]
cmdkit = {editable = true, path = "."}

[requires]
python_version = "3.9"
