[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
toml = "*"
pyyaml = "*"
pytest = "*"
pylint = "*"
hypothesis = "*"
sphinx = "*"
ipython = "*"
twine = "*"
pydata-sphinx-theme = "*"

[packages]
logalpha = ">=2.0.2"
cmdkit = {editable = true, path = "."}

[requires]
python_version = "3.8"
